@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: aliceblue;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  min-width: 90%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
  background-color: rgba(0, 0, 0, .6);
  padding: 90px;
  position: fixed;

  .modal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    
    background-color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    padding: 10px;

    .modal-header {
      justify-self: flex-end;
      align-self: flex-end;

      .modal-close-btn {
        background-color: crimson;
      }
    }

    .modal-body {
      width: 100%;
      height: 100%;

      .modal-label {
        font-size: 10px;
      }

      .modal-input-field {
        box-sizing: border-box;
        
        width: 100%;
        height: 80%;
      }
    }

    .modal-footer {
      .submit-btn {
        box-sizing: border-box;
        background-color: steelblue;
        color: #efefef;
        margin-top: 18px;
        width: 100%;
      }
    }
  }
}

.header,
.content {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.header {
  display: flex;
  background-color: rgb(66, 103, 178);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-self: center;
  color: #efefef;
  
  width: 100%;
  height: 8vh;
  max-width: 800px;
  min-height: 40px; 
  padding-left: 10px;
  margin-top: 50px;
  align-items: center;
}

.content {
  border: rgb(66, 103, 178) 3px solid;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  max-width: 800px;
  padding: 2px;
}

.content-components {
  /* Temporary boarder */
  // border: gray 2px dotted;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  
  width: 100%;
}

.users,
.todos {
  /* Temporary boarder */
  // border: green 1px dotted;
  margin: 10px;
}

.users {
  padding: 5px;
  width: 100%;
}

.user-form,
.user-list {
  padding: 5px;
}

.form-body {
  padding: 2px;
  
  .form-input-field {
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 5px;
    padding: 5px;
  }

  .form-submit {
    background-color: steelblue;
  }
}

.btn {
  color: #fff;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}

.add-user-btn {
  background-color: green;
}

.user {
  /* Temporary boarder */
  border: gray 2px solid;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 27% 63% 10%;
  overflow: hidden;
  max-width: 350px;
  padding: 3px;
  margin: 2px;
  
  transition: all 0.1s ease-in;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    border-left: skyblue 1px inset;
    border-radius: 100px;
    margin-left: 8px;
    height: 48px;
    width: 48px;

    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;    
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-name {
    // border: gray 1px dotted;
    align-self: center;
  }
  
  .todo-count {
    // border: gray 1px dotted;
    justify-self: right;
    align-self: center;

    padding: 5px;
    margin: 5px;
    // background-color: gray;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 3px;
  }

  &:hover {
    cursor: pointer;
    padding-left: 4px;
    transition: all 0.1s ease-in;
  }
}

.user-form {
  // border: red 2px solid;
  border-right: black 1px solid;
  border-left: black 1px solid;
  border-bottom: black 1px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #efefef;
  margin-bottom: 5px;
}

.todos {
  padding: 5px;
  width: 100%;
}

.todo {
  /* Temporary boarder */
  border: yellowgreen 1px dotted;

  margin: 5px;
}

@media (max-width: 600px) {
  .content-components {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .content,
  .header {
    padding: 5px;
  }

  .header {
    padding: 8px;
  }

  .users,
  .user-form,
  .user-list,
  .user,
  .todos,
  .todo {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}