* {
  margin: 0;
  padding: 0;
}

.header {
  /* Temporary boarder */
  border: red 3px solid;
  
  height: 8vh;
  min-height: 40px;
}

.content {
  /* Temporary boarder */
  border: blue 3px solid;
  height: 92vh;
}

.content-components {
  /* Temporary boarder */
  border: gray 2px dotted;

  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.users,
.todos {
  /* Temporary boarder */
  border: green 1px dotted;

  margin: 10px;
}

.users {
  padding: 5px;
  width: 100%;
}

.user-form,
.user-list {
  /* Temporary boarder */
  border: yellowgreen 2px dotted;
 
  padding: 5px;
}

.form-body {
  margin: auto;
}

.user {
  /* Temporary boarder */
  border: gray 2px solid;

  margin: 2px;
  transition: all 0.1s ease-in;

  &:hover {
    cursor: pointer;
    padding: 1px;
    transition: all 0.1s ease-in;
  } 
}

.user-form {
  margin-bottom: 5px;
}

.todos {
  padding: 5px;
  width: 100%;
}

.todo {
  /* Temporary boarder */
  border: yellowgreen 1px dotted;

  margin: 5px;
}

@media (max-width: 600px) {
  .content-components {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    padding: 10px;
  }

  .users,
  .user-form,
  .user-list,
  .user,
  .todos,
  .todo {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}