* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  min-width: 90%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
  background-color: rgba(0, 0, 0, .6);
  position: fixed;

  .modal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    
    background-color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    padding: 10px;

    .modal-header {
      justify-self: flex-end;
      align-self: flex-end;
      margin-bottom: 17px;
      
      .modal-close-btn {
        background-color: crimson;
      }
    }

    .modal-body {

    }

    .modal-footer {
      .submit-btn {
        box-sizing: border-box;
        background-color: steelblue;
        color: #efefef;
        margin-top: 18px;
        width: 100%;
      }
    }
  }
}

.header {
  /* Temporary boarder */
  border: red 3px solid;
  
  width: 100%;
  height: 8vh;
  max-width: 800px;
  min-height: 40px; 
}

.content {
  /* Temporary boarder */
  border: blue 3px solid;

  width: 100%;
  height: 92vh;
  max-width: 800px;
}

.content-components {
  /* Temporary boarder */
  border: gray 2px dotted;

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  
  width: 100%;
}

.users,
.todos {
  /* Temporary boarder */
  border: green 1px dotted;

  margin: 10px;
}

.users {
  padding: 5px;
  width: 100%;
}

.user-form,
.user-list {
  padding: 5px;
}

.form-body {
  padding: 2px;
  
  .form-input-field {
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 5px;
    padding: 5px;
  }

  .form-submit {
    background-color: steelblue;
  }
}

.btn {
  color: #fff;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}

.add-user-btn {
  background-color: green;
}

.user {
  /* Temporary boarder */
  border: gray 2px solid;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 27% 63% 10%;
  overflow: hidden;
  max-width: 350px;
  padding: 3px;
  margin: 2px;
  
  transition: all 0.1s ease-in;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    border-left: skyblue 1px inset;
    border-radius: 100px;
    margin-left: 8px;
    height: 48px;
    width: 48px;

    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;    
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-name {
    // border: gray 1px dotted;
    align-self: center;
  }
  
  .todo-count {
    // border: gray 1px dotted;
    justify-self: right;
    align-self: flex-start;

    padding: 3px;
  }

  &:hover {
    cursor: pointer;
    padding-left: 4px;
    transition: all 0.1s ease-in;
  }
}

.user-form {
  // border: red 2px solid;
  border-right: black 1px solid;
  border-left: black 1px solid;
  border-bottom: black 1px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #efefef;
  margin-bottom: 5px;
}

.todos {
  padding: 5px;
  width: 100%;
}

.todo {
  /* Temporary boarder */
  border: yellowgreen 1px dotted;

  margin: 5px;
}

@media (max-width: 600px) {
  .content-components {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .content,
  .header {
    padding: 5px;
  }

  .users,
  .user-form,
  .user-list,
  .user,
  .todos,
  .todo {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}